.userct {
  //    display: flex;
  //    justify-content: center;
  .spanmaginlef {
    margin-left: 10px;
  }

  h3 {
    //  background-color: rgb(234, 245, 245);
    margin-top: 5px;
    border-radius: 5px;
  }
}