.bodyhome {
  .boxchar {
    color: #fff;
    float: left;
    margin-top: 120px;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.486);
    height: auto;
    margin-left: 3.3%;
    border-radius: 7%;
    margin-bottom: 25px;

    .fomcon {
      text-align: center;
      width: 100%;
      height: 20%;
    }

    .fomcha {
      width: 100%;
      height: 80%;
    }
  }

  .fomtb {
    width: 100%;
    margin-top: 100px;
  }

}
